@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html
{
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
}

@keyframes wave {
    0% {
        color: rgb(255, 166, 125); 
    }
    25% {
        color: rgb(184, 86, 255); 
    }
    50% {
        color: rgb(223, 255, 163); 
    }
    75% {
        color: rgb(227, 189, 255); 
    }
    100% {
        color: rgb(255, 87, 87); 
    }
}

@keyframes scrollStars {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


body
{
    background: linear-gradient(to bottom, rgba(255, 186, 228, 1), rgba(143, 73, 255, 0.5));
    padding-bottom: 100px;
    overflow-x: hidden;
}
body::before
{
    content: "SPECIAL MOMENTS";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #555;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section h2
{
    margin-left: 150px;
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
    animation: wave 10s infinite;
}
section .container
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section:nth-child(even) .container
{
    flex-direction: row-reverse;
}
section .container .imgBx
{
    position: relative;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    border-radius: 70px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}
section .container .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .container .content
{
    position: absolute;
    right: 0;
    margin-top: 300px;
    margin-bottom: 40px;
    padding: 40px;
    z-index: 1;
    max-width: 400px;
    color: #000000;
    font-size: 1em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.473);
    border-bottom: 6px solid rgba(74, 198, 255, 0.6);
    border-radius: 20px;
}
section:nth-child(even) .container .content
{
    left: 0;
}
#box1 .container .content
{
    left: -290px;
    background: hsla(286, 96%, 82%, 0.5);
}
#box2 .container .content
{
    right: -290px;
    background: hsla(286, 96%, 82%, 0.5);
}
#box3 .container .content
{
    left: -290px;
    background: hsla(286, 96%, 82%, 0.5);
}
#box4 .container .content
{
    right: -290px;
    background: hsla(286, 96%, 82%, 0.5);
}
#box5 .container .content
{
    left: -290px;
    background: #b0e9fa86;
}



























header
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    width: 100%;
    padding: 23px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    position: relative;
    left: -90px;
}
header .logo-text
{
    font-size: 2.2em;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover
{
    background: rgba(177, 236, 254, 0.4);
    color: #2b1055;
}

.list
{
    display: flex;
    justify-content: space-between;   
}
.list-items a
{
    color: rgba(177, 236, 254, 1.0);
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.4s;
}
.list-items a:hover
{
    color: rgba(177, 236, 254, 1.0);
    animation: wave 2s linear infinite; 
}
.scrolling-stars
{
    position: fixed;
    width: 100%;
    height: 100%;
    animation: scrollStars 20s linear infinite; 
    opacity: 0.4;
}
#stars1 
{
   /* position: absolute;*/
    left: 0; 
}

#stars2 
{
   /* position: absolute;*/
    left: -100%; 
}
